header.site-header
  .site-header__wrapper
    a.site-header__head(href='/') Maria De La Guardia
    a.link.site-header__link(href='mailto:me@mariadelaguardia.com') me@mariadelaguardia.com

  if home
    nav.navigation-links
      a.link.link--nav.js-link--nav(href='#about') About Me
      a.link.link--nav.js-link--nav(href='#organizations') Organizations I've Served

  header.social-links
    a.link.link--nav(href='https://dribbble.com/MariaDeLaGuardia') Dribbble
    a.link.link--nav(href='https://www.behance.net/mariadelaguar') Behance
