footer.site-footer
    .site-footer__info
        h1.site-footer__head Hire Me
        h2.site-footer__tel 347 228 1219
        a.site-footer__email(href='mailto:me@mariadelaguardia.com') me@mariadelaguardia.com
