header.site-header
    .site-header__wrapper
        a.site-header__head(href='/') Maria De La Guardia
        a.link.site-header__link(href='mailto:hello@mariadelaguardia.com') hello@mariadelaguardia.com

header.social-links
    a.link.link--nav(href='https://dribbble.com/MariaDeLaGuardia') Dribble
    a.link.link--nav(href='https://www.behance.net/mariadelaguar') Behance
