extends /layouts/_main.pug

block metaVars
	-
		const meta = {
			pageTitle: 'Bureau for Good Nonprofit Annual Reports',
			description: 'Website for own design company, offering affordable print and digital materials for nonprofits, from annual reports to WordPress sites.',
			image: '/img/bfg-3.jpg'
		};

block canonicalUrl
	- const canonicalUrl = 'https://www.mariadelaguardia.com/bureau-for-good-nonprofit-annual-reports';

block content
	section.casestudy
		.casestudy__image
			img(src="/img/bfg-3.jpg")
		.casestudy__wrapper
			h1.casestudy__head Bureau for Good Website
			.casestudy__body
				p #[a(href="https://www.bureauforgood.com", target="_blank") Bureau for Good] is my own design company focused on offering affordable print and digital materials for nonprofits, from print and digital annual reports to websites.  
				p We offer both ready-made templates to custom design work. The templates are based on my 10 years of experience working almost exclusively with nonprofits, and understanding their needs and stories, and were designed to address the needs of small nonprofits that often approached us with very limited budgets.  
		.casestudy__image
			img(src="/img/bfg-4.jpg")
		.casestudy__image
			img(src="/img/bfg-5.jpg")
		.casestudy__wrapper.next-casestudy
			p.casestudy__eyebrow See Also
			h1.casestudy__head TCTMD.com
			.casestudy__body
				p TCTMD.com is the top online destination for professionals in the field of interventional cardiology, offering news, opinion, live conference coverage, and continuing medical education.
				a.link.link--arrow.casestudy__next-link.animsition-link(href="tctmd-news-editorial-site.html") Case Study
