doctype html
html(language='en')
	include /includes/html-header.pug

	body.casestudies
		include /includes/site-header.pug

		main

			section.casestudy
				.casestudy__image
					img(src="/img/pir-case-fpo.jpg")
				.casestudy__wrapper
					h1.casestudy__head Public Interest Registry Media Kit
					.casestudy__body
						p Derived from the Latin word for truth, the #[a(href="#") PIR] name made us think of history and permanence, story and perspective. So when we started working to develop a unifying theme and collateral for the company’s 25th annual paper show, we followed our instincts and chose to explore truth—in all of its enduring complexity and mutability—through design.
						p We developed invitations and environmental graphics for the event, as well as a keepsake book featuring 25 Chicago designers sharing their perspectives on truth. The book was a true labor of love; we customized a display typeface and short cover in Veritiv green with blind embossing and one-color letterpress. In addition to being a favorite among attendees, the book was recognized by the Type Directors Club in their 2015 typography exhibit and print annual.
					blockquote.casestudy__quote &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac ipsum augue.&rdquo;
					cite.casestudy__citation Kevin Kreshmer, Mood & Method
				.casestudy__image
					img(src="/img/pir-case-fpo.jpg")
				.casestudy__wrapper
					h1.casestudy__head Design
					.casestudy__body
						p Derived from the Latin word for truth, the #[a(href="#") PIR] name made us think of history and permanence, story and perspective. So when we started working to develop a unifying theme and collateral for the company’s 25th annual paper show, we followed our instincts and chose to explore truth—in all of its enduring complexity and mutability—through design.
						p We developed invitations and environmental graphics for the event, as well as a keepsake book featuring 25 Chicago designers sharing their perspectives on truth. The book was a true labor of love; we customized a display typeface and short cover in Veritiv green with blind embossing and one-color letterpress. In addition to being a favorite among attendees, the book was recognized by the Type Directors Club in their 2015 typography exhibit and print annual.
					blockquote.casestudy__quote &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac ipsum augue.&rdquo;
					cite.casestudy__citation Kevin Kreshmer, Mood & Method
				.casestudy__image
					img(src="/img/pir-case-fpo.jpg")
				.casestudy__image
					img(src="/img/pir-case-fpo.jpg")
				.casestudy__wrapper
					p.casestudy__eyebrow Next
					h1.casestudy__head UWUA Minisite
					.casestudy__body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac ipsum augue. Quisque suscipit ante scelerisque turpis dignissim fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
						a.link.link--arrow.casestudy__next-link Case Study

		include /includes/site-footer.pug
		include /includes/html-footer.pug
