extends /layouts/_main.pug

block metaVars
	-
		const meta = {
			pageTitle: 'Exposition Website',
			description: 'Website for a platform for publishing vibrant interactive reports, created by my friends at Constructive.',
			image: '/img/exposition-cs-1.jpg'
		};

block canonicalUrl
	- const canonicalUrl = 'https://www.mariadelaguardia.com/exposition-website';

block content
	section.casestudy
		.casestudy__image
			img(src="/img/exposition-cs-1.jpg")
		.casestudy__wrapper
			h1.casestudy__head Exposition Website
			.casestudy__body
				p My friends at #[a(href="https://constructive.co/", target="_blank") Constructive] created a platform that brings together their many years of experience with online reports (specially for nonprofits) into a semi-turn-key digital publishing solution. From glossaries and footnotes to interactive data viz, it's a complete solution for online reports and magazines. 
				p I led the visual design of the Exposition website, which was a bit of a departure from most of the nonprofit work I do, using more of a SAAS aesthetic. The work entailed putting together a series of simple mini-icons (several of which were adapted from the excellent #[a(href="https://nucleoapp.com/", target="_blank") Nucleo] collection) as well as creating a series of nine custom illustrations to highlight the platform's features.
			//
				blockquote.casestudy__quote &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac ipsum augue.&rdquo;
				cite.casestudy__citation Matt Schwartz, Constructive
			//
		.casestudy__image
			img(src="/img/exposition-cs-2.jpg")
		.casestudy__image
			img(src="/img/exposition-cs-3.jpg")
		.casestudy__image
			img(src="/img/exposition-cs-4.jpg")
		.casestudy__wrapper.next-casestudy
			p.casestudy__eyebrow See Also
			h1.casestudy__head Drug Policy Alliance Annual Report
			.casestudy__body
				p Print and digital annual reports—a bright and bold look for the nation's leading advocate for sensible drug policies.
				a.link.link--arrow.casestudy__next-link.animsition-link(href="dpa-nonprofit-digital-annual-report.html") Case Study