extends /layouts/_main.pug

block metaVars
	-
		const meta = {
			pageTitle: 'Hoover Institution Digital Annual Report',
			description: 'A venerable, Stanford University-based libertarian think tank branches out with its first-ever interactive annual report.',
			image: '/img/hoover-cs-1.jpg'
		};

block canonicalUrl
	- const canonicalUrl = 'https://www.mariadelaguardia.com/hoover-institution-digital-annual-report';

block content
	section.casestudy
		.casestudy__image
			img(src="/img/hoover-cs-1.jpg")
		.casestudy__wrapper
			h1.casestudy__head Hoover Institution Digital Annual Report
			.casestudy__body
				p The Hoover Institute is a Stanford University-based libertarian think tank whose fellows have included Condolezza Rice and sitting Secretary of Defense General James Mattis among many others. Hoover approached me to design their first-ever digital annual report based on their existing print report design. From the start, we chose a single-page, long-scroll format; the challenge was to translate a 64-page print piece into an online format that could be navigable, consumable, and speak to the variety of Hoover's work. 
				p My inspiration for the interactive behavior was the celebrated long-form interactive work of the New York Times—particularly their much-lauded #[a(href="https://www.nytimes.com/interactive/2016/12/07/world/asia/rodrigo-duterte-philippines-drugs-killings.html", target="_blank") feature] on antidrug homicides in the Philippines (warning: contains graphic images!). 
				p This project is expected to launch in early December. 
			blockquote.casestudy__quote &ldquo;Maria was extremely helpful in both executing our vision for the project and guiding us toward a first-class experience for our users.&rdquo;
			cite.casestudy__citation Kyle Palermo, Marketing Communications Manager
		.casestudy__image
			img(src="/img/hoover-cs-2.jpg")
		.casestudy__image
			img(src="/img/hoover-cs-3.jpg")
		.casestudy__wrapper.next-casestudy
			p.casestudy__eyebrow See Also
			h1.casestudy__head World Cocoa Foundation Branding & Annual Report
			.casestudy__body
				p Representing the voices of 80% of the world cocoa market, the WCF seeks a sustainable cocoa sector that serves farmers and their communities.
				a.link.link--arrow.casestudy__next-link.animsition-link(href="world-cocoa-foundation-branding-and-annual-report.html") Case Study
