extends /layouts/_main.pug

block metaVars
	-
		const meta = {
			pageTitle: 'UWUA Union Benefits Campaign Minisite',
			description: 'A bold and memorable campaign site for the Utility Workers Union of America, highlighting the contributions of strong unions to a vibrant middle class.',
			image: '/img/uwua-cs-1.jpg'
		};

block canonicalUrl
	- const canonicalUrl = 'https://www.mariadelaguardia.com/union-campaign-nonprofit-minisite';

block content
	section.casestudy
		.casestudy__image
			img(src="/img/uwua-cs-1.jpg")
		.casestudy__wrapper
			h1.casestudy__head UWUA Union Benefits Campaign Minisite
			.casestudy__body
				p The Utility Workers Union of America sought a way to reenergize its membership in the face of constant attacks on unions by state governments. The firm #[a(href="http://www.createwithm.com/", target="_blank") Mood & Method] worked with UWUA to develop a strategy and a series of messaging campaigns to reinforce the importance of unions in the American labor market. The Eight Ways campaign highlights eight ways in which unions support a vibrant middle class, reduce government dependency, and create a safer working environment for all workers.
				p The site I developed for this campaign consists of a long-scroll, takeover screen presentation outlining all eight ways, along with second template that presents more detail on each. 
			blockquote.casestudy__quote &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac ipsum augue.&rdquo;
			cite.casestudy__citation MATT SCHWARTZ, CONSTRUCTIVE
		.casestudy__image
			img(src="/img/uwua-cs-2.jpg")
		.casestudy__image
			img(src="/img/uwua-cs-3.jpg")
		.casestudy__image
			img(src="/img/uwua-cs-4.jpg")
		.casestudy__wrapper
			p.casestudy__eyebrow See Also
			h1.casestudy__head Drug Policy Alliance Digital & Print Annual Reports 
			.casestudy__body
				p Print and digital annual reports&mdash;a bright and bold look for the nation's leading advocate for sensible drug policies.
				a.link.link--arrow.casestudy__next-link.animsition-link Case Study

