extends /layouts/_main.pug

block metaVars
	-
		const meta = {
			pageTitle: 'World Cocoa Foundation Branding & Annual Report',
			description: 'Representing the voices of 80% of the world cocoa market, the WCF seeks a sustainable cocoa sector that serves farmers and their communities.',
			image: '/img/phi-cs-1.jpg'
		};

block canonicalUrl
	- const canonicalUrl = 'https://www.mariadelaguardia.com/world-cocoa-foundation-branding-and-annual-report';

block content
	section.casestudy
		.casestudy__image
			img(src="/img/phi-cs-1.jpg")
		.casestudy__wrapper
			h1.casestudy__head World Cocoa Foundation Branding & Annual Report
			.casestudy__body
				p Representing the voices of 80% of the world cocoa market, the World Cocoa Foundation seeks a sustainable cocoa sector that serves farmers and their communities. Working for #[a(href="https://constructive.co/", target="_blank") Constructive], I developed the WFC rebrand as well as annual reports, ads, trade show materials and a 2012 website.
			blockquote.casestudy__quote &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac ipsum augue.&rdquo;
			cite.casestudy__citation Matthew Schwartz, Constructive
		.casestudy__image
			img(src="/img/phi-cs-5.gif")
		.casestudy__wrapper
			h2.casestudy__subhead Branding
			.casestudy__body
				p PHI's work is strongly divided into three relatively siloed areas: services, policy research, and advocacy—with fairly little audience overlap. Their challenge was to make their site intuitive for these non-overlapping audiences—presenting their service pitch while simultaneously positioning themselves as a storehouse and destination for current research and data on the demographics, wages and labor conditions of care workers; and effectively advocating for improved labor practices. With 26 templates and 12 content types, including a research publications library and an interactive data center, the robust new site offers a much improved experience for both visitors and content creators.
			h2.casestudy__subhead Annual Report
			.casestudy__body
				p Based on PHI's recent visual rebrand, my visual design approach takes a nontraditional route with a persistent, left-side, vertical navigation that uses a "drill-down" behavior—common in mobile interfaces—to help focus visitor attention at the current information level. A break-the-grid layout helps soften and add warmth to an otherwise dry content and messaging.
		.casestudy__image
			img(src="/img/phi-cs-2.jpg")
		.casestudy__image
			img(src="/img/phi-cs-3.jpg")
		.casestudy__image
			img(src="/img/phi-cs-4.jpg")
		.casestudy__wrapper.next-casestudy
			p.casestudy__eyebrow See Also
			h1.casestudy__head Public Interest Registry .ngo Domain Guide
			.casestudy__body
				p PIR works behind-the-scenes administering the top-level domains .org, .ngo and .ong. Their .ngo Domain Guide informs nonprofits on the process of acquiring the non-profit-exclusive .ngo domain.
				a.link.link--arrow.casestudy__next-link.animsition-link(href="public-interest-registry-nonprofit-brochure.html") Case Study


