.about {
    background-color: $peach-bg-solid;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    @include md {
        padding: 110px 0;
        width: calc(100% - 53px);
    }
    @include xl {
        width: calc(100% - 100px);
        padding-top: 260px;
        margin-top: -240px;
    }
}

.about__wrapper {
    @media (max-width: #{$screen-md-min} - 1px ) {
        @include grid-column(6);
    }
    @include md {
        display: grid;
        grid-template-columns: 3.6fr 5.6fr 3.4fr;
        grid-column-gap: 60px;
        position: relative;
        left: -15%;
        min-width: 115%;
    }
    @include lg {
        grid-template-columns: 3.6fr 5.6fr 3.4fr 0;
    }
    @include xl {
        left: -10%;
        min-width: 110%;
    }
}

.about__img {
    display: none;
    @include md {
        display: block;
        img {
            width: 280px;
        }
    }
    @include lg {
        img {
            width: 360px;
        }
    }
}

.about__img--second {
    display: none;
    @include xl {
        display: block;
    }
}

.about__info {
    margin-bottom: 40px;
}

.about__head {
    @include serif-bold;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.about__copy {
    @include body-copy;
}

.about__list {
    padding-right: 20px;
    @include md {
        position: relative;
        top: 15px;
    }
}

.about__list-head {
    @include sans-semibold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px;
}

.about__list-item {
    font-size: 16px;
    line-height: 1.31;
    margin-bottom: 15px;
}

.about__list-item--small {
    display: block;
    font-size: 12px;
}
