.casestudy {
    display: block;
}

.casestudy__image {
    line-height: 0;
    img {
        width: 100%;
        max-width: 100%;
    }
}

.casestudy__wrapper {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px $sm-gutter;
    @include md {
        padding: 100px 104px;
    }
    @include xl {
        //padding: 100px $lg-gutter;
    }

    &.next-casestudy {
        .casestudy__body {
            margin-bottom: 0;
        }
    }
}

.casestudy__head {
    @include headline;
    margin-bottom: 14px;
}

.casestudy__subhead {
    @include subheadline;
    margin-bottom: 14px;
}


.casestudy__body {
    margin-bottom: 30px;
    p {
        @include body-copy;

        a {
            color: #EE5D2F;
        }
    }
}

.casestudy__quote {
    @include quote;
    margin-bottom: 15px;
}

.casestudy__citation {
    @include citation;
}

.casestudy__eyebrow {
    @include sans-bold;
    color: $link-gray;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.42px;
    margin-bottom: 20px;
}

.casestudy__next-link {
    color: $blue;
    margin-bottom: 0;
    &:after {
        content: "";
        width: 13px;
        height: 11px;
        display: inline-block;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.58 10.5' fill='#{$blue}' stroke='none'><polygon points='6.49 9.6 7.38 10.5 12.58 5.25 7.38 0 6.49 0.9 10.16 4.61 0 4.61 0 5.9 10.16 5.9 6.49 9.6'/></svg>");
        background-repeat: no-repeat;
    }
}
