.site-header {
    position: absolute;
    @include section-padding;
    padding-top: 35px;
}

.site-header__head {
    @include serif-bold;
    font-size: 17px;
    margin-bottom: 6px;
}

.site-header__link {
    font-size: 10px;
}

.social {
    position: absolute;
    display: none;
    @include md {
        display: block;
    }
}

.navigation {
    position: absolute;
    display: none;
    @include md {
        display: block;
    }
}
