.site-header {
    position: fixed;
    overflow: visible;
    padding: 45px 30px 0;
    z-index: 100;
    width: 100%;
    @include md {
        padding: 75px 60px 0;
    }
}

.site-header__wrapper {
    position: relative;
    // @include wrapper;
}

.site-header__head {
    display: block;
    @include serif-bold;
    font-size: 17px;
    margin-bottom: 6px;
    color: $text-black;
    text-decoration: none;
    transition: color $timing linear;
    &:hover {
        color: $orange;
    }
    @include md {
        display: inline-block;
        margin-right: 36px;
    }
}

.site-header__link {
    display: block;
    font-size: 10px;
    color: $text-black;
    margin: 0;
    transition: color $timing linear;
    &:hover {
        color: $orange;
    }
    @include md {
        display: inline-block;
    }
}

.navigation-links {
    display: none;
    @include md {
        display: block;
        position: absolute;
        top: calc( 100vh - 70px );
        left: 25px;
        transform: rotate(-90deg);
        transform-origin: 0 0;
    }
    @include xl {
        left: 45px;
    }
}

.social-links {
    display: none;
    @include md {
        display: block;
        position: absolute;
        top: 70px;
        left: calc( 100vw - 21px );
        transform: rotate(90deg);
        transform-origin: 0 0;
    }
    @include xl {
        left: calc( 100vw - 44px );
    }
}
