.site-header {
    position: absolute;
    padding: 35px 20px 0;
    z-index: 1;
    width: calc( 100% - 20px ); // account for the page border
    @include md {
        padding: 35px 50px 0;
    }
    @include lg {
        padding: 35px 90px 0;
    }
}

.site-header__wrapper {
    @include md {
        position: relative;
        @include wrapper;
    }
}

.site-header__head {
    @include serif-bold;
    font-size: 17px;
    margin-bottom: 6px;
    @include md {
        display: inline-block;
        margin-right: 36px;
    }
}

.site-header__link {
    font-size: 10px;
    color: $text-black;
    margin: 0;
    transition: color $timing linear;
    &:hover {
        color: $orange;
    }
    @include md {
        display: inline-block;
    }
}

.social-links {
    display: none;
    @include md {
        display: block;
        position: absolute;
        top: 70px;
        left: calc( 100% - 25px );
        transform: rotate(90deg);
        transform-origin: 0 0;
        z-index: 1;
    }
    @include lg {
        left: calc( 100% - 50px );
    }
}

.navigation-links {
    display: none;
    @include md {
        display: block;
        position: absolute;
        bottom: -50px;
        left: 15px;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        z-index: 10;
    }
    @include lg {
        left: 40px;
    }
}
