.hero {
    background: $peach;
    justify-content: center;
    padding: 210px 20px 300px;
    @include md {
        padding: 100px 50px;
    }
}

.hero__wrapper {
    @include wrapper;
    display: inherit;
    align-items: center;
}

.hero__info {
    @include md {
        padding-right: 6%;
    }
    @include lg {
        padding-right: 22%;
    }
}

.hero__head {
    @include sans-light;
    font-size: 32px;
    line-height: 1.125;
    margin-bottom: 10px;
    @include md {
        font-size: 36px;
    }
    @include lg {
        font-size: 40px;
    }
}

.hero__head--strong {
    @include serif-bold;
}

.hero__subhead {
    @include body-copy;
}

.hero__image {
    display: none;
    @include md {
        display: block;
        max-width: 240px;
        box-shadow: 0 0 60px rgba(0,0,0,0.3);
        border-radius: 50px;
    }
    @include lg {
        max-width: 284px;
    }
}
