.hero {
    background: $peach;
    justify-content: center;
    padding: 210px 30px 300px;
    z-index: 1;
    @include md {
        padding: 140px 60px;
        &:before {
            content: "";
            display: block;
            width: 290px;
            height: 450px;
            background-color: $box-yellow;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.hero__wrapper {
    @include wrapper;
    display: inherit;
    align-items: center;
}

.hero__info {
    position: relative;
    @include md {
        padding-right: 6%;
    }
    @include lg {
        padding-right: 22%;
    }
}

.hero__head {
    @include sans-light;
    font-size: 32px;
    line-height: 1.125;
    margin-bottom: 10px;
    @include md {
        font-size: 36px;
    }
    @include lg {
        font-size: 40px;
    }
}

.hero__head--strong {
    @include serif-bold;
}

.hero__subhead {
    @include body-copy;
}

.hero__image {
    display: none;
    @include md {
        display: block;
        position: relative;
        max-width: 284px;
        box-shadow: 0 0 60px rgba(0,0,0,0.3);
        border-radius: 50px;
    }
    @include lg {
        right: 8%;
    }
}
