.hero {
    position: relative;
    background: $peach-bg;
    justify-content: center;
    padding: 210px 0 260px;
    z-index: 1;
    @include md {
        padding: 140px 0;
        &:before {
            content: "";
            display: block;
            width: 32vw;
            height: 550px;
            background-color: $box-yellow;
            position: absolute;
            bottom: -40px;
            right: 0;
        }
    }
}

.hero__wrapper {
    align-items: center;
    @include grid-container;
    @include md {
        display: flex;
    }
}

.hero__info {
    @include standard-grid;
}

.hero__head {
    @include sans-light;
    font-size: 32px;
    line-height: 1.125;
    margin-bottom: 10px;

    @include md {
        font-size: 36px;
    }

    @include lg {
        font-size: 40px;
    }
}

.hero__head--strong {
    @include serif-bold;
}

.hero__subhead {
    @include body-copy;
}


.hero__imagecont {
    @include grid-column(2);
    @include grid-push(0.5);
}

.hero__image {
    display: none;
    @include md {
        display: block;
        position: relative;
        width: 24vw;
        max-width: 284px;
        min-width: 248px;
        box-shadow: 0 0 60px rgba(0,0,0,0.3);
        border-radius: 50px;
    }
}
