* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    border: 10px solid $peach-dark;
    @include sans-reg;
    background-color: $peach;
    color: $text-black;
}

section {
    display: flex;
    flex-direction: column;
    @include md {
        position: relative;
        flex-direction: row;
    }
}

img {
    width: 100%;
    max-width: 100%;
    @include md {
        width: auto;
        max-width: none;
    }
}
