* {
    box-sizing: border-box;
}

body {
    border: 10px solid $peach-dark;
    @include sans-reg;
    background-color: $peach;
    color: $text-black;
}

main {
    // display: flex;
    // flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    @include md {
        flex-direction: row;
    }
}

img {
    width: 100%;
    max-width: 100%;
    @include md {
        width: auto;
        max-width: none;
    }
}
