* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    border: 10px solid $peach-dark;
    @include sans-reg;
    color: $text-black;
}

section {
    display: flex;
    flex-direction: column;
    @include md {
        position: relative;
        flex-direction: row;
    }
}

img {
    width: 100%;
    max-width: 100%;
    @include md {
        width: auto;
        max-width: none;
    }
}

.decorated {
    @include md {
        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 260px;
            background-color: $dark-orange;
            position: absolute;
            top: -110px;
            left: 50%;
            z-index: 1000;
        }
    }
}
