.orgs {
    background-color: $peach-bg;
    text-align: center;
    padding: 80px $sm-gutter 120px;
    position: relative;
    @include decorated;
    @include md {
        padding-top: 160px;
        padding-bottom: 160px;
        width: calc(100% - $md-gutter);
        margin-left: $md-gutter;
    }
    @include xl {
        width: calc(100% - $lg-gutter);
        margin-left: $lg-gutter;
    }
}

.orgs__logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
    grid-gap: 50px 30px;
    @include md {
        grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
    }
}

.orgs__head {
    @include serif-bold;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 50px;
}

.orgs__link {
    //display: inherit;
    justify-content: center;
    display: flex;
}

.orgs__logo {
    object-fit: contain;
    max-width: 100%;
}
