.orgs {
    background-color: $peach-bg;
    text-align: center;
    padding: 80px 30px 200px;
    @include md {
        padding-top: 160px;
        padding-bottom: 160px;
        width: calc(100% - 60px);
        float: right;
    }
}

.orgs__wrapper {
    @include wrapper;
}

.orgs__logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
    grid-gap: 30px;
    @include md {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.orgs__head {
    @include serif-bold;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 50px;
}

.orgs__link {
    display: inherit;
    justify-content: center;
}

.orgs__logo {
    object-fit: contain;
}
