.project {
    @include section-padding;
    padding-bottom: 200px;
    position: relative;
    @include md {
        padding-bottom: 80px;
    }
}

.project__wrapper {
    display: inherit;
    flex-direction: inherit;
    @include wrapper;
    @include md {
        align-items: center;
    }
}

.project__info {
    order: 2;
    z-index: 1;
    @include md {
        width: 50%;
    }
    @include lg {
        width: 45.8333%;
    }
}

.project__head {
    @include headline;
}

.project__copy {
    @include body-copy;
}

.project__quote {
    @include quote;
}

.project__citation {
    @include citation;
}

.project__image {
    order: 1;
    position: relative;
    display: block;
    z-index: 1;
    line-height: 0;
    &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    @include md {
        width: 50%;
    }
}

.project__image--single {
    img {
        width: 100%;
        max-width: 100%;
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
        .project--composed-image & {
            box-shadow: none;
        }
    }
}

.project__image--multiple {
    height: 450px;
    @include md {
        height: 650px;
    }
    img {
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
        position: absolute;
    }
    img:nth-child(1),
    img:nth-child(2) {
        width: 195px;
        @include md {
            width: 260px;
        }
    }
    img:nth-child(2) {
        top: 60px;
        left: 120px;
        @include md {
            top: 70px;
            left: 158px;
        }
    }
    img:nth-child(3),
    img:nth-child(4) {
        width: 70px;
        top: 160px;
        @include md {
            width: 90px;
            top: 215px;
        }
    }
    img:nth-child(3) {
        left: 25px;
        @include md {
            left: 35px;
        }
    }
    img:nth-child(4) {
        left: 110px;
        @include md {
            left: 145px;
        }
    }
}

.project__image--alt {
    display: none;
    @include md {
        position: absolute;
        left: -390px;
        margin-top: -80px;
        display: block;
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
        line-height: 0;
        width: 520px;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

// LEFT/RIGHT LAYOUTS
.project--layout-image-left {
    .project__info {
        @include md {
            padding-left: 50px;
            padding-right: 0;
        }
    }
    .project__image {
        top: -125px;
        left: -40px;
        margin-bottom: calc( -125px + 30px );
        &:after {
            top: -20px;
            right: -26px;
        }
        @include md {
            top: -20px;
            left: -100px;
            margin-bottom: 0;
            &:after {
                top: -26px;
                right: -34px;
            }
        }
    }
}

.project--layout-image-right {
    .project__info {
        @include md {
            order: 1;
            padding-right: 50px;
            padding-left: 0;
        }
    }
    .project__image {
        top: -125px;
        right: -30px;
        margin-bottom: calc( -125px + 40px );
        &:after {
            top: 0;
            left: -30px;
        }
        @include md {
            order: 2;
            top: -40px;
            right: -100px;
            margin-bottom: 0;
            &:after {
                top: 40px;
                left: -40px;
            }
        }
    }
}

// COLOR SCHEMES
.project--teal {
    background-color: $light-teal;
    .project__image {
        &:after {
            background-color: $teal-overlay;
        }
    }
    .project__quote,
    .project__citation {
        color: $teal;
    }
    &.project--layout-image-left {
        @include md {
            background-color: transparent;
            background-image: linear-gradient(to right, $white, $white 20%, $light-teal 20%, $light-teal);
        }
    }
}

.project--blue {
    background-color: $white;
    .project__image {
        &:after {
            background-color: $blue-overlay;
        }
    }
    .project__quote,
    .project__citation {
        color: $blue;
    }
}

.project--yellow {
    background-color: $light-yellow;
    .project__image {
        &:after {
            background-color: $yellow-overlay;
        }
    }
    .project__quote,
    .project__citation {
        color: $teal;
    }
    &.project--layout-image-left {
        @include md {
            background-color: transparent;
            background-image: linear-gradient(to right, $white, $white 20%, $light-yellow 20%, $light-yellow);
        }
    }
}
