.project {
    @include section-padding;
    padding-bottom: 200px;
}

.project__info {
    order: 2;
}

.project--layout-a {

}

.project--layout-b {

}
.project__head {
    @include serif-bold;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.project__copy {
    font-size: 18px;
    line-height: 1.44;
    margin-bottom: 10px;
}

.project__quote {

}

.project__citation {

}

.project__image {
    order: 1;
    position: relative;
    top: -125px;
    left: -40px;
    margin-bottom: calc( -125px + 40px );
    display: block;
    z-index: 1;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
    line-height: 0;
    &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background-color: $overlay-gray;
        position: absolute;
        top: -20px;
        right: -30px;
        z-index: -1;
        background-blend-mode: multiply;
    }
}
