// Global Project Styles
.project {
    @include section-padding;
    position: relative;
    padding-bottom: 80px;
}

.project__wrapper {
    display: inherit;
    flex-direction: inherit;
    @include wrapper;
    @include md {
        align-items: center;
    }
}

.project__info {
    order: 2;
    z-index: 1;
    @include md {
        width: 50%;
    }
    @include lg {
        width: 45.8333%;
    }
}

.project__head {
    @include headline;
}

.project__copy {
    @include body-copy;
}

.project__quote {
    @include quote;
}

.project__citation {
    @include citation;
}

// Image Variations
.project__image {
    order: 1;
    position: relative;
    display: block;
    z-index: 1;
    line-height: 0;
    &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    @include md {
        width: 50%;
    }
}

.project__image--single {
    img {
        width: 100%;
        max-width: 100%;
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
    }
}

.project__image--precomposed {
    img {
        box-shadow: none;
    }
}

.project__image--multiple {
    height: 450px;
    @include md {
        height: 650px;
    }
    img {
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
        position: absolute;
    }
    img:nth-child(1),
    img:nth-child(2) {
        width: 195px;
        @include md {
            width: 260px;
        }
        @include lg {
            width: 390px;
        }
    }
    img:nth-child(2) {
        top: 60px;
        left: 120px;
        @include md {
            top: 70px;
            left: 158px;
        }
        @include lg {
            top: 120px;
            left: 240px;
        }
    }
    img:nth-child(3),
    img:nth-child(4) {
        width: 70px;
        top: 160px;
        @include md {
            width: 90px;
            top: 215px;
        }
        @include lg {
            width: 140px;
            top: 325px;
        }
    }
    img:nth-child(3) {
        left: 25px;
        @include md {
            left: 35px;
        }
        @include lg {
            left: 45px;
        }
    }
    img:nth-child(4) {
        left: 110px;
        @include md {
            left: 145px;
        }
        @include lg {
            left: 210px;
        }
    }
}

.project__image--alt {
    display: none;
    @include md {
        position: absolute;
        left: -390px;
        margin-top: -80px;
        display: block;
        box-shadow: 0 0 60px rgba(0,0,0,0.5);
        line-height: 0;
        width: 520px;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

// Layout Variations
@mixin project--layout-image-left {
    .project__info {
        @include md {
            padding-left: 50px;
            padding-right: 0;
        }
    }
    .project__image {
        margin-bottom: 40px;
        left: -55px;
        width: 110%;
        &:after {
            top: -20px;
            right: -26px;
        }
        @include md {
            left: -100px;
            width: 50%;
            &:after {
                top: -28px;
                right: -38px;
            }
        }
        @include lg {
            left: -100px;
            &:after {
                top: -36px;
                right: -48px;
            }
        }
    }
}

@mixin project--layout-image-right {
    .project__info {
        @include md {
            order: 1;
            padding-right: 50px;
            padding-left: 0;
        }
    }
    .project__image {
        margin-bottom: 40px;
        right: -20px;
        width: 110%;
        &:after {
            top: 20px;
            left: -20px;
        }
        @include md {
            order: 2;
            right: -100px;
            width: 50%;
            &:after {
                top: 40px;
                left: -40px;
            }
        }
    }
}

// Color Variations
@mixin project--teal {
    background-color: $teal-bg;
    .project__image {
        &:after {
            background-color: $box-teal;
        }
    }
    .project__quote,
    .project__citation {
        color: $teal;
    }
}

@mixin project--teal--left {
    @include md {
        background-color: transparent;
        background-image: linear-gradient(to right, $white, $white 25%, $teal-bg 25%, $teal-bg);
    }
}

@mixin project--blue {
    background-color: $white;
    .project__image {
        &:after {
            background-color: $box-blue;
        }
    }
    .project__quote,
    .project__citation {
        color: $blue;
    }
}

@mixin project--blue-yellow {
    background-color: $white;
    .project__image {
        &:after {
            background-color: $box-blue;
        }
    }
    .project__quote,
    .project__citation {
        color: $teal;
    }
    &:after {
        content: "";
        display: block;
        height: 85%;
        width: 25%;
        background-color: $box-yellow;
        position: absolute;
        right: 0;
        top: -40px;
    }
}

@mixin project--yellow {
    background-color: $yellow-bg;
    .project__image {
        &:after {
            background-color: $box-yellow;
        }
    }
    .project__quote,
    .project__citation {
        color: $teal;
    }
}

@mixin project--yellow--left {
    @include md {
        background-color: transparent;
        background-image: linear-gradient(to right, $white, $white 20%, $yellow-bg 20%, $yellow-bg);
    }
}

@mixin project--purple {
    background-color: $purple-bg;
    .project__image {
        &:after {
            background-color: $box-blue;
        }
    }
    .project__quote,
    .project__citation {
        color: $blue;
    }
}

@mixin project--purple--left {
    @include md {
        background-color: transparent;
        background-image: linear-gradient(to right, $white, $white 20%, $purple-bg 20%, $purple-bg);
    }
}

// Homepage Layout Settings
.project--1a {
    @include project--layout-image-left;
    @include project--teal;
    @include project--teal--left;
    @include decorated;
    padding-bottom: 100px;
    .project__image {
        margin-top: -125px;
    }
    @include md {
        .project__image {
            margin-top: -40px;
        }
    }
}
.project--1b {
    @include project--layout-image-right;
    @include project--blue;
    .project__image {
        margin-top: -20px;
    }
    @include md {
        padding-bottom: 0;
        margin-bottom: -60px;
        .project__image {
            margin-top: -40px;
        }
    }
}
.project--2a {
    @include project--layout-image-left;
    @include project--blue-yellow;
    @include md {
        padding-bottom: 0;
        margin-bottom: -20px;
    }
    .project__image {
        margin-top: -30px;
        margin-bottom: 10px;
        left: -30px;
        &:after {
            top: 30px;
            left: 0;
            right: auto;
            width: calc(100% - 20px);
            height: calc(100% - 40px);
        }
        @include md {
            left: -60px;
            &:after {
                left: -60px;
            }
        }
    }
}
.project--2b {
    @include project--layout-image-right;
    @include project--purple;
    @include decorated;
    .project__image {
        margin-top: -10px;
        right: -20px;
        width: calc(100% + 10px);
        &:after {
            top: 40px;
            height: calc(100% - 20px);
        }
        @include md {
            width: 50%;
            right: -60px;
            top: 60px;
        }
    }
}
.project--1of4 {
    @include project--layout-image-left;
    @include project--yellow;
    @include project--yellow--left;
    @include decorated;
    .project__image {
        margin-top: -30px;
        &:after {
            background-color: $box-orange;
            top: 30px;
        }
        @include md {
            top: 60px;
            &:after {
                width: 75%;
            }
        }
    }
}
.project--2of4 {
    @include project--layout-image-right;
    @include project--blue;
    .project__image {
        margin-top: -20px;
    }
}
.project--3of4 {
    @include project--layout-image-left;
    @include project--blue;
}
.project--4of4 {
    @include project--layout-image-right;
    @include project--purple;
    .project__image {
        margin-top: -20px;
    }
}
