$sans-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-stack: 'Times New Roman', Times, Georgia, serif;

@mixin sans-light() {
    font-family: 'ProbaPro-Light', $sans-stack;
    font-weight: normal;
}

@mixin sans-reg() {
    font-family: 'ProbaPro-Regular', $sans-stack;
    font-weight: normal;
}

@mixin sans-semibold() {
    font-family: 'ProbaPro-Semibold', $sans-stack;
    font-weight: normal;
}

@mixin sans-bold() {
    font-family: 'ProbaPro-Bold', $sans-stack;
    font-weight: normal;
}

@mixin serif-reg() {
    font-family: "NoeDisplay-Regular", $serif-stack;
    font-weight: normal;
}

@mixin serif-bold() {
    font-family: "NoeDisplay-Bold", $serif-stack;
    font-weight: normal;
}

@mixin headline {
    @include serif-bold;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 6px;
    @include lg {
        font-size: 36px;
    }
}

@mixin subheadline {
    @include serif-bold;
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 6px;
    @include lg {
        font-size: 30px;
    }
}

@mixin body-copy {
    font-size: 18px;
    line-height: 1.44;
    margin-bottom: 10px;
    a {
        text-decoration: none;
        color: $text-gray;
        transition: color $timing linear;
        &:hover {
            color: $orange;
        }
    }
}

@mixin quote {
    @include serif-reg;
    color: $teal;
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 10px;
    hanging-punctuation: first;
    @include lg {
        font-size: 26px;
    }
}

@mixin citation {
    @include sans-semibold;
    text-transform: uppercase;
    color: $teal;
    font-size: 12px;
    letter-spacing: 1.42px;
}
