// Gutters / LR Spacing
$sm-gutter: 30px;
$md-gutter: 60px;
$lg-gutter: 100px;

// GRID
$neat-grid: (
  columns: 6,
  gutter: $sm-gutter,
);

$neat-grid-md-up: (
  columns: 6,
  gutter: $md-gutter,
);

$neat-grid-lg-up: (
  columns: 6,
  gutter: $lg-gutter,
);

@mixin standard-grid {
  @include grid-column(6, $neat-grid);
  @include md {
    @include grid-column(3, $neat-grid-md-up);
  }
  @include xl {
    @include grid-column(3, $neat-grid-lg-up);
  }
}

// COLORS
$white: #fff;
$black: #000;
$text-black: #353535;
$text-gray: #999;
$link-gray: #8b8b8b;

$peach: rgba(234,191,167,1);
$peach-bg: rgba(234,191,167,0.25);
$peach-bg-solid: #FAEFE9;


$orange: #EE5D2F;
$dark-orange: #E6926C;

$teal: #057664;
$teal-bg: rgba(88,162,99,0.25);
$light-teal: #DEF1E1;

$purple-bg: rgba(181,170,198,0.25);

$blue: #1290F0;

$yellow-bg: rgba(197,192,104,0.25);
$light-yellow: #F5F0D9;

$site-border: rgba(168,85,48,0.25);

$box-yellow: rgba(197,192,104,0.25);
$box-teal: rgba(76,133,117,0.25);
$box-blue: rgba(81,143,190,0.25);
$box-orange: rgba(230,129,96,0.25);

//GLOBAL SETTINGS

// @mixin wrapper {
//     width: 100%;
//     max-width: 1240px;
//     margin-left: auto;
//     margin-right: auto;
// }

// @mixin section-padding() {
//     padding-left: 30px;
//     padding-right: 30px;
//     @include md {
//         padding-left: 60px;
//         padding-right: 60px;
//     }
// }
$timing: 0.15s;

// MEDIA QUERIES
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1440px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

