// COLORS
$white: #fff;
$black: #000;
$text-black: #353535;

$peach: #FBF2EE;
$peach-dark: #F1E3DD;

$light-purple: #E8E6EB;
$mustard: #F5F0D9;
$orange: #EE5D2F;

$teal: #057664;
$light-teal: #DEF1E1;
$teal-overlay: rgba(0,0,0,0.05);

$blue: #1290F0;
$blue-overlay: #DBEDF9;

$light-yellow: #F5F0D9;

//GLOBAL SETTINGS

@mixin wrapper {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@mixin section-padding() {
    padding-left: 20px;
    padding-right: 20px;
    @include md {
        padding-left: 50px;
        padding-right: 50px;
    }
}
$timing: 0.15s;

// MEDIA QUERIES
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

