// COLORS
$peach: #FBF2EE;
$peach-dark: #F1E3DD;
$mint: #DEF1E1;
$light-purple: #E8E6EB;
$mustard: #F5F0D9;
$text-black: #353535;
$orange: #EE5D2F;
$teal: #057664;

$overlay-gray: #D2E0DD;
$overlay-gray: rgba(0,0,0,0.05);


//GLOBAL SETTINGS
@mixin section-padding() {
    padding-left: 20px;
    padding-right: 20px;
    @include md {
        padding-left: 50px;
        padding-right: 50px;
    }
}
$timing: 0.15s;

// MEDIA QUERIES
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

